





    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" >Learn German with Edison!</h1>
                <hr>
                <p></p>
                <a href="/posts" class="btn btn-primary btn-xl page-scroll">Go to Forum</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Everything you need to know about German grammer!</h2>
                    <hr class="light">
                    <p class="text-faded">Start now!</p>
                    <a href="german_lessons" class="page-scroll btn btn-default btn-xl sr-button">Learn German Grammer!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What you can learn?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Core Study</h3>
                        <p class="text-muted">The essential German knowledge!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Use</h3>
                        <p class="text-muted">You can use what you have learned immediately!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Everyday German</h3>
                        <p class="text-muted">We learn what is used in everyday conversation!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Love</h3>
                        <p class="text-muted">Make you love German!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Edison</h2>
                    <hr class="primary">
                    <p> Want to give me some feedback? Send me an email!</p>
                </div>
                <div class="col-lg-12 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:liebedison+german@gmail.com">liebedison+german@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>







