


<div class="row">
  <div class="col-md-8">
  <br>

  <h2 class="text-center" id="How-Complex-is-German">First Lesson: How complex is German?</h2>

  <p class="text-center">German grammer is very complex. It has three sexes, four cases, singular and plural form, and many inregular verbs.</p>



  </div>
  <div class="col-md-4">
    <br>

    <a href="#How-Complex-is-German">How Complex is German?</a>

  </div>



</div>

